/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0 !important; 
  font-family: var(--font-poppins), sans-serif;
}
h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif;
}

h1{
  font-family: var(--font-vibes, cursive);
  font-size: 50px;
  color: #B2987D;
}